
@font-face {
    font-family:SourceSansPro-Bold;
    src: url(../font/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family:SourceSansPro-Regular;
    src: url(../font/SourceSansPro-Regular.ttf);
}
*{
    font-family:SourceSansPro-Regular;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.all-page{
    width: 100%;
    display: flex;
}
.text{
    margin: 100px 190px 0px 190px;
    text-align: center;

}
.head{
    letter-spacing: 3px;
    font-family:SourceSansPro-Bold;
    color: #43425D;
    font-size: 35px;
    padding-bottom: 20px;
}
.header{
    color: #C2C3C7;
    font-size: 18px;
margin-bottom: 40px;
/* padding-bottom: 30px; */
}
.input{
display: block;
margin-bottom: 30px;
/* margin-right: 30px; */
padding-right: 200px;
border: none;
border-bottom: solid;
border-color: #E9E9F0;
outline: 0;
}
.fname{
    padding-right: 40px;
    margin-right: 10px;
}
.lname{
    padding-right: 40px;
    margin-right: 0px;
}
.checkbox{
margin-bottom: 40px;
margin-left: 30px;
font-size: 15px;

} 
.mai{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

}
button{
    color:#4D4F5C ;
    background-color: #FFFFFF;
    font-size: 18px;
    padding: 10px 40px;
    margin-right: 10px;
    margin-bottom: 30px;
}
button:hover{
    background-color:#43425D ;
    color: #FFFFFF;
}
/* afkjldddddddddddddddddddddddddddddd */
a:hover{
    background-color:#43425D ;
    color: #FFFFFF;
}
a{
    color:#4D4F5C ;
    font-size: 18px;
    text-decoration: none;
}
.foot{
color:#3B86FF ;
}
.footer{
    margin-top: 280px;
    color:#4D4F5C ;
    font-size: 11px;
text-align: center;
}
.name{
     display:flex;
     /* margin-left: 40px; */
     /* display: block; */
    
     margin-right: 22px;
}
.agree{
    margin-bottom: 30px;
}
.email{
    padding-right: 200px;
    /* padding: 5px 100px 5px 0px; */
}
/* InBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB */

.search-and-picture{
    position: relative;
}
.icon{
background-color: #43425D;
/* height: 900px; */
}
.h1{
    font-family:SourceSansPro-Bold;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: #3C3B54;
    padding: 20px 56px 20px 20px;
    margin-top: 0px;
}
.icons:hover{
    color: #A3A0FB;
    border-left: solid;
    background-color: #3C3B54;
}
.icons{
    background-color: #43425D;
/* margin: 20px 30px; */
padding: 10px;
font-size: 15px;
color: #A5A4BF;
}
.a-link{
    font-size: 15px;
    color: #FFFFFF;
}
span{
        font-size: 15px;
        color: #FFFFFF;
}
.icon-input{
    outline: 0;
    border: none;
    padding: 20px 1123px 10px 30px ;
}
.mai33{
    position: relative;
}
.input-icon-search{
    position: absolute;
    top: 20px;
    left: 10px;
}
.search{
    display: flex;
    position: absolute;
    top: 10px;
    left: 990px;
}
.select{
   position: absolute;
   top: 10px;
   left: 1100px;
}
.img-of-avatar{
    position: absolute;
    top: -10px;
}
.all{
    display: flex;
}
.big{
    padding: 30px;
    background-color: #F0F0F7;
    /* height: 850px; */
   
}
.smalltext{
    font-size: 28px;
    margin-bottom: 20px;
}
.big-inbox{
    display: flex;
    /* width: 100%;
    margin: auto; */
}
.button1-compose{
    color:#FFF ;
    background-color: #3B86FF;
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    /* margin-right: 10px; */
    /* margin-bottom: 30px;  */
}
.inbox-5{
    display: flex;
    justify-content: space-between;
    color: #3B86FF;
    font-size: 13px;
    font-family:SourceSansPro-Bold; 
}
.tag-sales{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 10px;
}
p{
    font-size: 13px;
    margin-top: 10px;
}
.inbox-massege{
    margin-bottom: 20px;
}
.inbox-tag{
    background-color: #fff;
    padding: 30px;
}
.tag-header{
    margin-top: 10px;
    font-size: 13px;
    font-family:SourceSansPro-Bold; 
}
.inbox-search{
    position: relative;
}
.inbox-input{
    outline: 0;
    padding: 30px;
    padding-right: 200px;
    border: none;
}
.inbox-srarch-svg{
    position: absolute;
    top: 30px;
    left: 10px;
}
.select-a-message{
    padding: 480px 300px;
    font-size: 28px;
    color: #C6C6CE;
    background-color: #FFF;
    margin: auto;
}
.about-day{
    font-size:11px ;
    color: #A3A3B0;
}
/* index-massege-html */
.design-button{
    margin-right: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: #FFF;
    background-color: #FF6565;
    font-family:SourceSansPro-Bold; 
    font-size: 11px;
}
.a-david:hover{
color: #000;
}
.name-day-david-in-the-massege{
    display: flex;
    justify-content: space-between;
}
.david-massege{
    background-color: #FFF;
    padding: 30px 20px;
}
.david-text-massege{
    display: flex;
}
.david-head-massege{
  font-size: 18px;  
}
.david-picture-massege{
    display: flex;
    margin-bottom: 30px;
}
.david-name{
    font-family:SourceSansPro-Bold; 
    font-size: 13px;
    color: #000;
}
.hi-david{
    font-size: 13px;
    margin: 30px 0px;
}
.big-text-inbox{
    font-size: 13px;
    margin-top: 50px;
    position: relative;
}
textarea{
    padding-top: 50px;
    padding-left: 10px;
}
.inbox-textarea{
    margin-top: 90px;
    /* height: 200px;
    width: 600px; */
    resize: none;
    outline: none;
    border: none;
    padding: 0px;
    background-color: #F5F6FA;
}
.write-something{
    background-color: #FFFFFF;
    border: 1px solid #E8E9EC;
}

/* .big-text-inbox-link{
    margin-top: 50px;
    font-size: 13px;
/* background-color: #FFF; */

.inbox-link-reply{
    position: absolute;
    top: 770px;
    left: 880px;
    color: #3B86FF;
}
.picture-product{
    position: relative;
    background-color: #FFF;
    margin-right: 50px;
    padding: 20px;
}
.picture-product-shose{
    position: relative;
    background-color: #FFF;
    /* margin-right: 20px; */
    padding: 20px;
    padding-top: 50px;
}
.last-shoes-picture{
    margin-right: 0px;
    padding: 50px;
    padding-top: 20px;
}
.form-input{
    padding: 30px 30px;
    padding-bottom: 200px;
    background-color: #FFF;
}
.hart-iocn{
position: absolute;
top:10px;
right: 30px;
}
.label-icon{
    position: absolute;
    top:10px;
    left: 30px;
    color: #FFF;
    background-color: #FF6565;
    padding: 2px 11px;
    border: none;
}
.product-picture-revenue{
    display: flex;
    justify-content: space-between;
}
.products-and-total-revenue{
background-color: #FFFFFF;
display: flex;
padding: 10px 30px ;
/* margin-right: 30px; */
margin-bottom: 30PX;
}
.num{
    padding: 20px 185px 20px 20px;
}
.price-total-revenue{
    color: #56D9FE;
    font-size: 18px;
}
.total-revenue{
    color:#4D4F5C ;
    font-size: 13px;
}
.n3{
    color:#A3A0FB;
    font-size: 18px;
}
.n4{
    color:#4D4F5C ;
    font-size: 13px;
}
.n5{
    color: #4AD991;
    font-size: 18px;
}
.n6{
    color:#4D4F5C ;
    font-size: 13px;
}
/* teble */
.table{
    text-align: center;
    padding: 30px ;
    background-color: #FFF;
    position: relative;
}
.tn{
    margin-left: 50px;
    padding: 20px;
}
.pro{
    margin-top: 40px;
}
caption{
    text-align: left;
    font-size: 18px;
    color: #4D4F5C;
    padding-bottom: 30px;
}
th{
    text-align: left;
    background-color: #F5F6FA;
    color: #A3A6B4;
    font-family:SourceSansPro-Bold;
font-size: 11px;

}
 
.stock{
    font-family:SourceSansPro-Bold;
    background-color: #4AD991;
    border-radius: 20px;
    padding: 15px 29px;
    font-size: 11px;
    margin-top: 10px;
    color: #000;
    background-color: #E1FAED;
    border: none;
}
.m-1{
    background-color: #FFE3E7;
}
.m-2{
    background-color: #FFF5E6;
}
.m-3{
    background-color: #FFEFD9;
}
th,td{
    padding: 10px 20px;
}
.tr{
    padding-right: 250px;
    font-size: 13px;
    color:#4D4F5C ;
    display: flex;
    align-items: center;
}
.td{
    padding-right: 30px;
}
.td-img{
    display: flex;
}
.two-table{
    display: flex;
    justify-content: space-between;
}
.tab-icon{
    margin-right: 20px;
}
.svg{
    border-radius: 50%;
    left: 20px;
    /* padding: 7px; */
    background-color:#3A3054; 

}
.td-icon{
    font-size: 15px;
}
.ic1{
    background-color: #E8E7FF;
}
.ic2{
    background-color: #DAF7E8;
}
.ic3{
    background-color: #F0F0F7;
} 
.ic4{
    background-color: #FFF4E5;
}
.ic5{
    background-color: #FFE2E6;
}
/*  */
.two-photoo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.man{
    background-color: #FFF;
    padding: 20px 30px 0px 30px ;
}
.name1{
    font-family:SourceSansPro-Bold;
    font-size: 1rem;
 
    padding-bottom: 10px;
}
.city{
    font-size: 15px;
    color: #A4AFB7;
}
.tm{
    padding: 15px;
}
.na-ci{
    padding:10px 90px 10px 20px;
}
.n-idet{
    padding: 0.5rem;
    display: flex;
    justify-content:space-between;
}
.oha{
    text-align: center;
}
.edit{
    padding:10px;
}
.ic-2{
    border-radius: 10px;
    padding-right: 220px;
    padding-left: 30px;
    margin-bottom: 50px;
}
.titttttt{
    display: flex;
    justify-content: space-between;
}
.com
{
    font-size: 28px;
    padding-bottom: 20px;
    text-align:right;
}
.comp{
    font-size: 13px;
}
.invoices{
    padding: 30px;
    background-color: #FFF;
}
.inv-com{
    display: flex;
    justify-content: space-between;   
}
.button-print{
    padding: 10px 50px;
    border-radius: 10px;
}
.invoice-page-html{
    display: flex;
    justify-content: space-between;
}
.ord-date{
    font-size:15px ;
    color: #4D4F5C;
    font-family:SourceSansPro-Bold;
}
.span{
    color: #A8A9AF;
}
.sub-total{
    text-align:right;
}
.usd{
 font-family:SourceSansPro-Bold;
 font-size: 28px;
 color: #43425D;
}
.submit{
    margin-top: 20px;
    font-size:15px ;
    color: #FFF;
    background-color: #3B86FF;
    border: none;
    padding:10px 40px;
}
.table-invoices{
    margin-top: 40px;
    margin-bottom: 40px;
}
.tablenum{
    padding-right: 200px;
}
.td-table{
    font-size: 13px;
    color: #4D4F5C;
}
/*BAR PRODUCT */
.bar-graphs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.rows{
    display: grid;
    grid-template-columns:2fr auto;
}
.bar1{
    padding-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(169, 119, 119);
    padding: 20px;
}
.amer{
     font-size: 3em;   
}
.yes-duv{
    border-radius: 20px;
    width: 70%;
    margin-top: 3rem;
    background-color: #5aa7bc;
    padding: 2rem 1rem ;
}
.bm{
    font-size: 2rem;
}

.pra1{
    background-color: #bde6f9;
}
.pra2{
    background-color: #e1bdfd;
}
.pra3{
    background-color: #ce95cf;
}

.pens{
    display: flex;
   flex-direction: column;
}
.icon-start{
    display: flex;
    align-items: center;
 
}
.img-icon{
    margin-bottom: 0.5rem;
    width: 2rem;
    padding-right: 0.5rem;
}
.box-facebook-icon{
    border: #fff;
    border-radius: 20%;
    margin: 0.5rem ;
align-items: center;
    width: 20%;
    height: 20%;
    background-color: #7195be;
}
.facebook-img{
 
    width: 4rem;
}

.total-views{
    margin-bottom:20px;
    color: #BFBEC7;
    font-size: 15px;
}
.bar-n{
 font-family:SourceSansPro-Bold;
    font-size:3rem;
}
.bar-percent{
 font-family:SourceSansPro-Bold;
 font-size:1rem;

}.bar-percent1{
    color:#3CC480 ;
 font-family:SourceSansPro-Bold;
 font-size:11px;

} 
.product1{
    margin-right: 130px;
}
.video{
    display:flex;
    justify-content: space-between;
}
video{
    padding: 30px;
    background-color: #fff;
}
/* table-product */
.table-product{
    background-color: #FFF;
    padding: 30px ;
}
.th-product{
    padding-right: 100px;
}
.tr-product{
    font-size: 13px;
}
.text-about-the-product{
    text-align: center;
    padding: 0 40px;
    margin: 30px;
}
.boll-tex{
    margin-bottom: 0px;
}
.in-product-html3{
    /* margin-top: 40px; */
    margin-bottom: 0px;
    /* padding-top: 20px; */
}
.shoes-img{
    background-color: #000;
    margin-bottom: 100px;
}
.show-More{
    font-size: 13px;
    color: #3B86FF;
}
.top-product{
    font-size: 28px;
}
.picture-pro{
    position: relative;
    background-color: #FFF;
    margin-right: 50px;
    padding: 0px;
}
.three-pic{
    margin-right: 0;
}
.product-name{
    margin-bottom: 10px;
    font-size: 28px;
 font-family:SourceSansPro-Bold;
}
.inbox-product{
    font-size: 18px;
}
.boll-name{
    font-size: 35px;
}
.boll-picture{
    padding: 40px;
    margin-right: 0px;
}
.product-description{
font-size: 15px;
}
.lorem-ipsum-dolor{
font-size: 13px;
}
.price-of-product{
    font-size: 25px;
    font-family:SourceSansPro-Bold;
}
.shoes-price{
    font-size: 18px;
    color: red;
}
.shop-now{
    margin-top: 10px;
    padding: 10px 30px;
    color: #FFF;
    background-color: #3B86FF;
    border: none;
    font-size: 15px;
}
.send-button{
    text-align: right;
    margin-right: 0px;
}
.support-iocn{
    position: absolute;
    top:190px;
    right: -9px;
}
.three-picture-of-product{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.input-to{
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 800px;
    outline: none;
    border: 1px solid #E8E9EC;
    resize: none;
    display: block;
}
/* 777777777777777777777777777777777777 */
.serch3{
    padding: 0px;
}
.man-masege:hover{
    background-color: #F5F6FA;
}
.man-masege{
    display: flex;
    justify-content: space-between;
    align-items: stretch;  
    padding:30px 20px ;
    background-color: #FFF;
}
.andrey{
    border-left: solid #3B86FF;
}
.david{
    border-left: solid #A3A0FB;
}
.tony{
    border-left: solid #FE6F6F;
}
.name-and-picture-of-costomer{
    display: flex;
}
.costomer-picuture{
    margin-right: 10px;
}
.costomer-name{
    font-size: 13px;
    font-family:SourceSansPro-Bold;
    margin-bottom: 10px;
}
.about-moment .about-costomer{
    font-size: 11px;
}
.chatroom{
    display: flex;
}
.page-of-chatroom{
    background-color: #FFF;
}
.title-in-chatroom{
    display: flex;
    padding: 10px 20px;
}
.title-in-the-caht{
    margin-left: 10px;
    margin-right: 350px;
}
.ic-3{
    padding-right: 220px;
    padding-left: 30px;
}
.costomer-search{
    outline: 0;
    border: none;
    padding:30px 400px 30px 50px;
}
.icon-search-bage-chatroom{
    top: 179px;
    left: 40px;
}
.masseges-in-chat{
    background-color: #EDF0F5;
     border-radius: 20px;
     border-top-left-radius: 500px;
    font-size: 13px;
     width: 200px;
    padding: 10PX 20px;
}
.time-of-the-massege{
    font-size: 11px;
}
.about-massege-in-the-chat{
    margin: 20px 40px;
}
.masseges-in-chat-the-end-Massege{
    margin-left: 350px;
}
.end-Massege{
    background-color:#3B86FF;
    color: #FFF;
    margin-top: 50px;
    border-radius: 20px;
     border-top-right-radius: 500px;
}
.two-ti-shirt-of-product{
    display: flex;
    margin:40px 0px;
}
/* .name-of-ti-shirt-and-about-product{
    display: flex;
} */
.ti-shirt-name{
    display: flex;
    justify-content: space-between;
margin-bottom: 20px;
font-size: 18px;
font-family:SourceSansPro-Bold;
}
.stars-group{
margin-bottom: 20px;
}
.name-of-ti-shirt-and-about-product{
    margin: 40px;
}
.ti-shirt-product{
    background-color: #FFF;
    margin-right: 40px;
    display: flex;
}
.barchalwna{
    margin-right: 0px;

}
.ti-shirt-img{
    background-color: #000;
    padding: 10px;
}
.about-ti-shirt-product{
font-size: 13px;
    margin-bottom: 40px;
}
.type-your-message-here{
    padding: 20px 30px;
    margin-top: 400px;
}
.input-your-massage{
    position: relative;
}
.svg-path-div{
    display: flex;
    position: absolute;
    top:1000px;
    left:800px;
}
.svg-path{
margin-right: 20px;
}
.menu{
    position: relative;
}
.submenu{
    position: absolute;
    top: 40px;
    left:0px;
    background-color: #3CC480;
    padding: 30px;
    display: none;
}
.il-svg{
    margin: 10px;
}
.li{
    padding: 20px;

}
.submenu:before{
    position: absolute;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3cc480;
    top:-6px;
}
.menu:hover.submenu{
    display:inline-block;
}
.bm{
    font-size: 3rem;
}
.imgo{
    width: 20rem;
}
.pragr{
    font-size: 1rem;
    color: #798087;
}